/* #code by I.T. */

#snesnickers_adidas_women {
    color: black;
}

body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #5FD894;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0px;
    left: 0px; 
    margin-top: 0px;
}

.uvedomleniye {
    background-color: black;
    color: white;
    transition: all 0.3s linear;
    border-radius: 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    flex-direction: row;
    width: fixed;
    width: 150px;
    position: relative;
    top: 40px;
    left: 375px;
}

.uv_p {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    margin: 0px;
}

.cross {
    transition: color 0.3s linear;
}

.cross:hover {
    color: red;

}

.h_p {
    color: #665ACA;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin: auto 20px;
}

.h_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 100%;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    padding: 0px;


}

.huil {
    display: flex;
    width: 250px; 
    justify-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px 5px;
}
.arrow {
    margin-left: 5px;
    margin-top: 2px;
    border: none;
    transition: 0.3s linear all;
    color: white;

}

/*.huil_p:hover {
    -webkit-box-shadow: 0px 0px 12px 2px rgba(13, 13, 13, 0.2);
    -moz-box-shadow: 0px 0px 12px 2px rgba(13, 13, 13, 0.2);
    box-shadow: 0px 0px 12px 2px rgba(13, 13, 13, 0.2);
}*/

/* basket ul */


.huil_p {
    color: white;
    transition: 0.3s linear all;
    font-family: 'Noto Sans SC', sans-serif;
    text-transform: uppercase;
    margin: auto 0px;
    margin-top: auto;
}

.arrow:hover {
    color: #665ACA;
    /*border-bottom: 1px solid #665ACA;*/
}

.b_kolvo {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    align-items: center;
    font-family: 'Original Surfer', cursive;
    width: 50px;
    justify-content: space-between;
}

.b_plus {
    color: white;
    margin: 0px;
    font-size: 15px;
    transition: 0.3s linear color;

}

.b_minus {
    color: white;
    margin: 0px;
    font-size: 15px;
    transition: 0.3s linear color;     
}

.b_plus:hover {
    color: #5FD894 !important;
/*    -webkit-box-shadow: 0px 0px 12px 2px rgba(13, 13, 13, 0.2);
    -moz-box-shadow: 0px 0px 12px 2px rgba(13, 13, 13, 0.2);
    box-shadow: 0px 0px 12px 2px rgba(13, 13, 13, 0.2);*/
}

.b_minus:hover {
    color: #5FD894 !important;
/*    -webkit-box-shadow: 0px 0px 12px 2px rgba(13, 13, 13, 0.2);
    -moz-box-shadow: 0px 0px 12px 2px rgba(13, 13, 13, 0.2);
    box-shadow: 0px 0px 12px 2px rgba(13, 13, 13, 0.2);*/
} 
.b_kolvo_p {
    margin: 0px;
}

#basket_p:hover {
    color: #665ACA;
    border-bottom: 1px solid #665ACA;
}

#basket_p:hover .arrow {
    border: 0px solid black;
}
.b_text {
    display: flex;
    flex-direction: row;
    margin: auto 0px;
}
#basket {
    display: flex;
    flex-direction: row
    -ms-align-items: center;
    align-items: center;
}


#basket_div {
    height: 25px;
    transition: 0.3s linear all;
}

#basket_div:hover {
    color: #665ACA;
    border-bottom: 1px solid #665ACA;
}


.basket_ul {
    align-items: flex-start;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* height: 520px; */
    width: 250px;
    z-index: 4;
    background-color: #665ACA;
    margin: 0px;
    position: absolute;
    margin-top: 25px;
    padding: 0px;
    margin-right: 175px;
    transition: 0.3s linear all;
    display: none;

}



.buli {
    display: flex;
    flex-direction: row;
    border: 1px solid #665ACA;
    height: 50px;
    width: 250px;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s linear border;
    display: none;
}

.buli_plus{
    display: flex;
    flex-direction: row;
    border: 1px solid #665ACA;
    height: 50px;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s linear border;
    margin: 0px;
}

.buli_plus:hover {
    margin: 0px;
    border-bottom:1px solid white;
    border-top: 1px solid white;
}

.buli_a {
    text-decoration: none;
    display: flex;
    margin: 0px;
    align-items: center;
}

.buli_text {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
}

.buli_text:hover {
    color: white;
}

.b_name {
    font-size: 11px;
    margin: 0px;
    color: white ;
    transition: 0.3s linear color;
}

.b_price {
    font-size: 11px;
    margin: 0px;

}

.b_name:hover {
    color: #5FD894 !important;
}

.b_img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border: 0.5px solid #665ACA;
    transition: 0.3s linear border-color;

}

.b_img:hover {
    border-color: #5FD894;
}

.c_text {
    display: flex;
    flex-direction: row;
    margin: auto 0px;
    margin-top: auto;
    
}


.c_ul{
    
    align-items: flex-start;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100px;
    z-index: 4;
    background-color: #665ACA;
    display: none;
    position: absolute;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0px;
    position: absolute;
    margin-top: 25px;
    margin-right:300px;
    transition: 0.3s linear all;
}

.culiadiv_p {
    margin: 0px;
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
    transition: 0.3s linear all;
    display: flex;
    flex-wrap: wrap;

}

#gmail {
    font-size: 13px;
}

.culi {
    display: flex;
    flex-direction: row;
    border: 1px solid #665ACA;
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    transition: 0.3s linear all;
    background-color: #665ACA;
}

.culi:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.c_icon {
    color: white;
    transition: 0.3s linear color;

}

#c_icon1:hover {
    color: #5FD894;
}




.shop {
    display: flex;
    height: 750px;
    width: 85%;
    margin: 10px auto;
    margin-top: 150px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
}



@media all and (min-width: 2694px) {

    .uvedomleniye {
        position: relative;
        left: 1175px;
    }

    .shop {
        height: 375px;
    }
}

@media all and (min-width: 2423px) and (max-width: 2693px){
    .uvedomleniye{
        position: relative;
        left: 1050px;
    }

    .shop {
        height: 375px;
    }

}

@media all and (min-width: 2200px) and (max-width: 2423px){
    .uvedomleniye {
        position: relative;
        left: 925px;
    }
}

@media all and (min-width: 1915px) and (max-width: 2200px) {
    .uvedomleniye {
        position: relative;
        left: 800px;
    }
}

@media all and (min-width: 1640px) and (max-width: 1915px) {
    .uvedomleniye {
        width: 150px;
        position: relative;
        left:650px;
    }
}

@media all and  (min-width: 1200px) and (max-width: 1640px){
    .uvedomleniye {
        width: 150px;
        position: relative;
        left: 500px;
    }
}

@media all and (max-width: 1211px) and (min-width: 970px){
    .shop {
        height: 1100px;
    }
    .uvedomleniye {
        position: relative;
        top: 40px;
        left: 365px;
        width: 150px;    
    }
}

@media all and (max-width: 970px)  and (min-width: 728px) {
    .shop {
        height: 1500px;
    }
    .uvedomleniye {
        width: 150px;
        position: relative;
        top: 40px;
        left: 250px;
        width: 150px;
    }
}

@media all and (max-width: 728px) and (min-width: 483px) {
    .shop {
        height: 1900px;
    }
    .uvedomleniye {
        width: 150px;
        position: relative;
        left: -75px;
        top: 0px;
        
    }

    .c_ul_plus {
        position: absolute;
        margin-top: 25px;
        margin-right:150px;
    }

    #basket {
        width: 100px;
    }

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        .h_ul {
            padding: 0px;
            margin: 0px 5px;
        }

        .huil {
            width: 250px;
        }

        #basket {

            width: 250px;
        }

        .huil {
            align-items: center;
        }

        @media all and (max-width: 693px) {
            
            #basket {
                width: 250px;
                align-items: flex-end;
            }

            .huil {
                align-items: flex-start;

            }

            .basket_ul {
                /*position: relative;*/
                left: 50px;
                margin-right: 5px;
            }

        }

        @media all and (max-width: 592px) {
            .basket_ul {
                left: 25px;
            }
        }

        @media all and (max-width: 540px) {
            .basket_ul {
                left: 10px;
            }
        }
}

@media all and (max-width: 483px) {
    
    
    .uvedomleniye {
        left: 0px;
        top: 0px;
    }

    body {
        width: 515px;
    }

    .shop {
        height: 4800px;
        align-items: center;
    }
    #basket {
        width: 100px;
    }


    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
            
    }

    .h_ul {
            
        margin: 0px 5px;
    }

    .huil {
        width: 250px;
    }


}


.a_item {
    display: flex;
    text-decoration: none;
    width: 175px;
}

.item {
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 0px;
    align-items:center;
    justify-content: space-around;
    margin-left: 2px;
    transition: 0.3s linear all;

}

.item:hover {
    -webkit-box-shadow: 0px 0px 12px 8px rgba(34, 60, 80, 0.29);
    -moz-box-shadow: 0px 0px 12px 8px rgba(34, 60, 80, 0.29);
    box-shadow: 0px 0px 12px 8px rgba(34, 60, 80, 0.29);
    border: 2px solid white;
}

.i_img {
    width: 175px;
    height: 175px;
    margin: 0px auto;
}

.i_name {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    /*text-justify: center;*/
    text-align: center;
    margin: 0px;
    color: black;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    transition: 0.3s linear all;
}

.i_name:hover {
    color: white;
    background-color: black;
}

.i_price {
    margin: 0px;
}

.i_text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.i_add_tl {
    margin-right:  10px;
    transition: all linear 0.3s;

}

.i_add_tl:hover {
    background-color: #CFCFCF;
}

.c_i_add_tl {
    margin-right:  10px;

}

.footer {
    background-color: #5FD894;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;

}

.f_p {
    color: #665ACA;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    margin: 0px;
}

.f_p_two {
    font-family: 'Noto Sans SC', sans-serif;
    color: white;
    margin: 0px;
}


.posledniyy_kusochek_i_vsyo {
    font-size: 10px;
    color: white;
} 